html,body{
  margin: 0;
  padding: 0;
}


ul {
    list-style-type: none;
    margin-left: -10px;
    margin-top: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: absolute;
    height:100%;
    overflow: auto;

}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4ca1af;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.header{
  height: 50px;
  line-height: 50px;
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 3px;
  font-size: 20px;
}
footer{
  height: 30px;
  width: 100%;
  text-align: center;
  background: black;
  color: white;
  position: fixed;
  bottom: 0;
  padding-top: 3px;
}


.fstgift{
  padding: 20px;
      width: 150px;
      height: 100px;
      margin-left: 10px;
      margin-top: 20px;
}


 .wapper{
   margin-left: 100px !important;
   margin-top: 100px;
 }
 .graph{
   margin-left: 50px;
 margin-top: 30px;
 height: 200px;
  width: 500px;
 }
